<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--        javabean采用驼峰风格-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="LOG4J"></setting>
        <!--二级缓存-->
        <setting name="callSettersOnNulls" value="true"></setting>
    </settings>
    <typeAliases>
        <!--直接注册整个包  默认规则为简写类名-->
        <package name="com.ct"></package>
    </typeAliases>
</configuration>