<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ct.mapper.AddressMapper">
  <resultMap id="AddressMap" type="com.ct.pojo.Address">
    <result column="add_id" jdbcType="INTEGER" property="addId" />
    <result column="add_province" jdbcType="VARCHAR" property="addProvince" />
    <result column="add_city" jdbcType="VARCHAR" property="addCity" />
    <result column="add_info" jdbcType="VARCHAR" property="addInfo" />
  </resultMap>
  <insert id="insert" parameterType="com.ct.pojo.Address">
    insert into address (add_id, add_province, add_city, 
      add_info)
    values (#{addId,jdbcType=INTEGER}, #{addProvince,jdbcType=VARCHAR}, #{addCity,jdbcType=VARCHAR}, 
      #{addInfo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ct.pojo.Address">
    insert into address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="addId != null">
        add_id,
      </if>
      <if test="addProvince != null">
        add_province,
      </if>
      <if test="addCity != null">
        add_city,
      </if>
      <if test="addInfo != null">
        add_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="addId != null">
        #{addId,jdbcType=INTEGER},
      </if>
      <if test="addProvince != null">
        #{addProvince,jdbcType=VARCHAR},
      </if>
      <if test="addCity != null">
        #{addCity,jdbcType=VARCHAR},
      </if>
      <if test="addInfo != null">
        #{addInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>