<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ct.mapper.Staff_InfoMapper">
    <resultMap id="suMap" type="com.ct.pojo.Staff_Info">
        <id column="si_id" property="siId"/>
        <result property="siPosition" column="si_position"/>
        <result property="siSalary" column="si_salary"/>
    </resultMap>
<select id="queryPosi" resultMap="suMap">
    select si_id, si_position, si_salary
    from staff_info
</select>
</mapper>