<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ct.mapper.UserMapper">
  <resultMap id="UserMap" type="com.ct.pojo.User">
    <result column="u_id" jdbcType="INTEGER" property="uId" />
    <result column="u_username" jdbcType="VARCHAR" property="uUsername" />
    <result column="u_password" jdbcType="VARCHAR" property="uPassword" />
    <result column="u_identify" jdbcType="VARCHAR" property="uIdentify" />
    <result column="u_email" jdbcType="VARCHAR" property="uEmail" />
    <result column="u_phone" jdbcType="VARCHAR" property="uPhoneNum" />
    <result column="u_sex" jdbcType="VARCHAR" property="uSex" />
    <result column="u_IDCard" jdbcType="VARCHAR" property="uIdcard" />
    <result column="u_jointime" jdbcType="VARCHAR" property="uJointime" />
    <association property="addId" column="add_id" javaType="com.ct.pojo.Address">
      <id column="add_id" property="addId" jdbcType="INTEGER"/>
      <result column="add_province" property="addProvince" jdbcType="VARCHAR"/>
      <result column="add_city" property="addCity" jdbcType="VARCHAR"/>
      <result column="add_info" property="addInfo" jdbcType="VARCHAR"/>
    </association>
    <association property="siId" column="si_id" javaType="com.ct.pojo.Staff_Info">
      <id column="si_id" property="siId" jdbcType="INTEGER"/>
      <result column="si_position" property="siPosition" jdbcType="VARCHAR"/>
      <result column="si_salary" property="siSalary" jdbcType="FLOAT"/>
    </association>
    <association property="aId" column="a_id" javaType="com.ct.pojo.Authority">
      <id column="a_id" property="aId" jdbcType="INTEGER"/>
      <result column="a_role" property="aRole" jdbcType="VARCHAR"/>
    </association>
  </resultMap>
  <insert id="UserRegister" parameterType="com.ct.pojo.User">
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uUsername != null">
        u_username,
      </if>
      <if test="uPassword != null">
        u_password,
      </if>
      <if test="uIdentify != null">
        u_identify,
      </if>
      <if test="uEmail != null">
        u_email,
      </if>
      <if test="uPhoneNum != null">
        u_phone,
      </if>
      <if test="uSex != null">
        u_sex,
      </if>
      <if test="uIdcard != null">
        u_IDCard,
      </if>
      <if test="addId!= null">
        add_id,
      </if>
      <if test="uJointime != null">
        u_jointime,
      </if>
      <if test="siId!= null">
        si_id,
      </if>
      <if test="aId != null">
        a_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uUsername != null">
        #{uUsername},
      </if>
      <if test="uPassword != null">
        #{uPassword},
      </if>
      <if test="uIdentify != null">
        #{uIdentify},
      </if>
      <if test="uEmail != null">
        #{uEmail},
      </if>
      <if test="uPhoneNum != null">
        #{uPhoneNum},
      </if>
      <if test="uSex != null">
        #{uSex},
      </if>
      <if test="uIdcard != null">
        #{uIdcard},
      </if>
      <if test="addId != null">
        #{addId.addId},
      </if>
      <if test="uJointime != null">
        #{uJointime},
      </if>
      <if test="siId != null">
        #{siId},
      </if>
      <if test="aId != null">
        #{aId},
      </if>
    </trim>
    <selectKey resultType="integer" order="AFTER" keyProperty="uId">
      select LAST_INSERT_ID()
    </selectKey>
  </insert>
  <select id="UserLogin" resultType="com.ct.pojo.User">
    select u_username,u_password,u_identify from user_info
    <where>
      <if test="username!=null and username!=''">
        u_username=#{username}
      </if>
      <if test="identify!=null and identify!=''">
       and u_identify=#{identify}
      </if>
      <if test="password!=null and password!=''">
       and u_password=#{password}
      </if>

    </where>
  </select>
  <update id="UserUpdate" parameterType="com.ct.pojo.User">
    update user_info
    <set>
      <if test="uUsername != null">
        u_username=#{uUsername},
      </if>
      <if test="uPassword != null">
        u_password=#{uPassword},
      </if>
      <if test="uIdentify != null">
        u_identify=#{uIdentify},
      </if>
      <if test="uEmail != null">
        u_email=#{uEmail},
      </if>
      <if test="uPhoneNum != null">
        u_phone=#{uPhoneNum},
      </if>
      <if test="uSex != null">
        u_sex=#{uSex},
      </if>
      <if test="uIdcard != null">
        u_IDCard=#{uIdcard},
      </if>
      <if test="addId!= null">
        add_id=#{addId.addId},
      </if>
      <if test="uJointime != null">
        u_jointime=#{uJointime},
      </if>
    </set>
    where u_id=#{uId}
  </update>
  <select id="seeInfo" resultMap="UserMap">
    select t1.u_id,t1.u_username,t1.u_identify,t1.u_email,t1.u_phone,t1.u_IDCard,t1.u_jointime,
    t2.add_province,t2.add_city,t2.add_info,t1.add_id,
--     CASE t1.u_sex WHEN 0 THEN '女' when 1 then '男' END as `uSex`,
    t1.u_sex,
    t3.si_position,t3.si_salary,t4.a_role
    from user_info t1,
    address t2,
    staff_info t3,authority t4
    where t1.si_id=t3.si_id and t1.a_id=t4.a_id
    and t1.add_id=t2.add_id
    and t1.u_id=#{uId}

  </select>
  <select id="Check_IDENTIFY" resultType="string">
    select u_identify from user_info where u_id=#{uId}
  </select>
</mapper>